name: Deploy API

on:
  push:
    paths:
      - "Api/**"
      - ".github/workflows/api.yml"

permissions:
  id-token: write
  contents: read
  packages: write

env:
  ACTIONS_STEP_DEBUG: true
  DOTNET_VERSION: 9.x

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Api
    environment: dev
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            Api/

      - name: "Login to GitHub Container Registry"
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: "Build Inventory Image"
        run: |
          docker build . --tag ghcr.io/cmclellen/ezurlshortener:latest --file ./Ez.UrlShortener.Api/Dockerfile
          docker push ghcr.io/cmclellen/ezurlshortener:latest

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and deploy Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          acrName: ghcr.io
          containerAppName: ca-vnsxt6qwqbeks-dev
          resourceGroup: rg-urlshort-dev-aue
          imageToDeploy: ghcr.io/cmclellen/ezurlshortener:latest
