name: Deploy web app

on:
  push:
    paths:
      - "UI/**"
      - ".github/workflows/web.yml"

permissions:
  id-token: write
  contents: read

env:
  NODE_VERSION: 22
  ACTIONS_STEP_DEBUG: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./UI
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            UI/

      # - name: List files in the repository
      #   run: |
      #     ls ${{ github.workspace }}

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
