name: Deploy web app

on:
  push:
    paths:
      - "UI/**"
      - ".github/workflows/web.yml"

permissions:
  id-token: write
  contents: read

env:
  NODE_VERSION: 22
  ACTIONS_STEP_DEBUG: true
  STORAGE_CCOUNT_NAME: stvnsxt6qwqbeksdev

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./UI
    environment: dev
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            UI/

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: npm ci

      - run: npm run build --if-present

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Upload to blob storage
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az storage blob upload-batch --account-key --account-name ${{env.STORAGE_CCOUNT_NAME}} -d '$web' -s ./UI/dist

# az storage blob upload-batch --account-key --account-name ${{env.STORAGE_CCOUNT_NAME}} --auth-mode key -d '$web' -s .
